/* Header */
.n-header-bg {
    margin-bottom: -73px;
    position: relative;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
}

.n-header-border-spacing {
    padding: 0 115px 0 115px;
    height: 100%;
}

.n-nav-img img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.n-navbar {
    display: flex;
    justify-content: space-between;
}

.n-nav-list {
    display: flex;
    padding: 0;
    margin: 0;
    height: 70px;
    /*align-items: center;*/
    list-style: none;
}

.n-nav-list li {
    padding-left: 17px;
    margin: auto;
}

.n-nav-list li:not(:last-child) {
    padding-right: 17px;
}

.n-nav-list li a {
    text-decoration: none;
    color: #a4a4a4;
    font-family: Raleway regular;
    font-size: 18px;
}

.n-nav-list li:hover > a {
    color: white;
}

.n-nav-list li:hover::before {
    content: '';
    display: block;
    width: 27px;
    height: 3px;
    background-color: #ff0036;
    margin: auto auto 15.99pt;
}

.n-nav-list li:hover::after {
    content: '';
    display: block;
    width: 27px;
    height: 3px;
    background-color: #ff0036;

    margin: 15.99pt auto auto;
}

/* Slider Page 1 */

.n-1page-bg-img {
    background: url("images/nImg/main-article-background.png")  no-repeat;
    height: 700px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.n-slider {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.n-slider-info {
    width: 1040px;
}

.n-text-white {
    color: white;
}

.n-slider-text {
    font-family: Lato regular;
    font-size: 16px;
    line-height: 1.35;

    margin-bottom: 25px;
    margin-top: 20px;
    display: inline-block;
}

.n-slider-header {
    font-family: Raleway bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.n-slider-button {
    border-style: none;
    width: 170px;
    height: 50px;
    background-color: #131313;
    margin-left: 15px;
    margin-right: 15px;
    font-family: Raleway medium;
    font-size: 20px;
}

.n-slider-button:hover {
    background-color: #ff0036;
}

.n-slider-container-buttons {
    margin-top: 25px;
}

.n-slider-arrow {
    position: absolute;
    color: #a4a4a4;
}

.n-slider-arrow:hover {
    color: #ff0036;
}

.n-slider-container-arrows {
    margin-top: 67px;
}

.n-arrow-left {
    left: -63%;
}

.n-arrow-right {
    width: auto;
    left: 112.4%;
}

/* Page 5 */

.n-page5-bg-img {
    height: 650px;
    background: url("images/nImg/pg5-bg.png") no-repeat;
}

.n-border-spacing-5page {
    padding: 100px 115px 100px 115px;
    text-align: center;
}

.n-title-5page h2{
    font-family: Raleway bold;
    font-size: 30px;
    margin-bottom: 41px;
    margin-top: 0;
}

.n-title-5page p {
    font-family: Lato bold;
    margin: 0;
    color: #a4a4a4;
    font-size: 16px;
}

.n-5pade-info {
    margin-top: 85px;
    height: 270px;
    display: flex;
}

.n-5page-data {
    width: 50%;
    padding: 0 15px 0 0 ;
}

.n-5page-clients {
    width: 50%;
    display: flex;
    justify-content:  space-between;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 0 0 0 15px;
}

.n-5page-data-text {
    font-family: Lato regular;
    color: #a4a4a4;
    margin-bottom: 40px;
}

.n-5page-data-title {
    font-family: Raleway regular;
    font-weight: normal;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 0 0 40px;
}

.n-5page-cont-selector {
    margin-top: 24px;
}

.n-5page-selector {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #e0e0e0;
}

.n-5page-selector:hover {
    background-color: #ff0036;
}

.n-5page-client-name {
    font-family: Raleway bold;
    font-size: 16px;
    color: #ff0036;
    margin-top: 10px;
}

/* Page 9 */
.n-9page-border-spacing {
    padding: 100px 115px 85px 115px;
}

.n-title-subtitle h2 {
    font-family: Raleway bold;
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 0;
}

.n-title-subtitle p {
    font-family: Lato bold;
    margin: 0;
    color: #505050;
    font-size: 16px;
}
.n-title-subtitle {
    margin-bottom: 105px;
    text-align: center;
}

.n-9page-blog-img {
    display: inline-block;
    padding: 0 15px 0 0;
}

.n-9page-blog-data {
    display: inline-block;
    width: 570px;
    padding: 0 0 0 15px;
}

.n-9page-blog-data h3{
    font-family: "Raleway SemiBold";
    font-size: 20px;
    margin: 0 0 20px;
}

.n-9page-blog-data > p {
    font-family: "Lato regular";
    font-size: 16px;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 25px;
}

.n-9page-blog-data > button {
    width: 120px;
    height: 40px;
    border: none;
    font-family: "Lato regular";
    font-size: 16px;
    color: white;
    background-color: #262626;
}

.n-9page-blog-data > button:hover {
    background-color: #ff0036;
}

.n-9page-blog-stat {
    display: inline;
    margin-right: 20px;
    font-family: "Lato regular";
    font-size: 12px;
}

.n-9page-blog-stat i {
    margin: 0 8px 0 0;
    display: inline;
}

.n-9page-stat a {
    text-decoration: none;
    color: #a2a2a2;
}

.n-9page-blog-info {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.n-9page-next-news i {
    text-align: center;
    margin: auto;
}

.n-9page-circle {
    margin-left: auto;
    margin-right: auto;
    background: #f2f2f2;
    border-radius: 50%;
    color: #a2a2a2;
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}