.max-width {
    width: 1400px;
    margin: auto
}

.border-spacing-left-right {
    padding: 0px 115px 0px 115px
}

.border-spacing-top-bottom {
    padding: 101px 0px 101px 0px
}

.red-color {
    background: #ff0036;
}

.black-color {
    background: #0a090d;
}

.white-color {
    background: #ffffff;
}